*{
box-sizing:border-box;
font-family:Segoe UI,Roboto,sans-serif;
}

body{
margin:0;
min-height:100vh;

background:linear-gradient(135deg,#0f172a,#1e3a8a,#14b8a6);

display:flex;
justify-content:center;
align-items:center;

color:white;
}


/* CARD */

.card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(12px);

padding:25px;
width:95%;
max-width:420px;

border-radius:18px;

box-shadow:0 20px 40px rgba(0,0,0,.35);

text-align:center;

animation:fadeIn .4s ease;
}


/* LOGO */

.logo{
width:110px;
margin-bottom:10px;
}


/* INPUT */

input,select{
width:100%;
padding:12px;
margin:8px 0;

border:none;
border-radius:10px;

background:#f1f5f9;
color:#111;
}


/* BUTTON */

button{
width:100%;
padding:12px;
margin-top:12px;

border:none;
border-radius:12px;

font-weight:600;

cursor:pointer;

background:linear-gradient(135deg,#14b8a6,#0ea5e9);

color:white;

transition:.2s;
}

button:hover{
transform:translateY(-2px);
box-shadow:0 8px 18px rgba(0,0,0,.3);
}


/* HEADER */

.header{
font-weight:bold;
margin-bottom:10px;
}


/* PROGRESS */

.progressWrap{
background:#1e293b;
border-radius:10px;
overflow:hidden;
margin-bottom:8px;
}

#progressBar{
height:8px;
width:0%;
background:#22c55e;
transition:.3s;
}


/* OPSI */

.opsi{
background:white;
color:#111;

padding:12px;
margin:6px 0;

border-radius:10px;
cursor:pointer;

transition:.2s;
}

.opsi:hover{
background:#e0f2fe;
}

.selected{
background:#14b8a6!important;
color:white;
}


/* NAV */

.nav{
display:flex;
gap:8px;
margin-top:10px;
}

.nav button{
flex:1;
}


/* GRID */

#gridSoal{
display:grid;
grid-template-columns:repeat(10,1fr);
gap:4px;
margin:8px 0;
}

.gridBtn{
background:#334155;
padding:5px;
border-radius:6px;
font-size:12px;
cursor:pointer;
}

.gridDone{
background:#22c55e;
}


/* RESULT */

#hasil{
white-space:pre-line;
margin:10px 0;
}

.finishBtn{
background:#22c55e;
display:none;
}


/* UTIL */

.hidden{
display:none;
}


/* ANIMATION */

@keyframes fadeIn{
from{opacity:0; transform:translateY(10px);}
to{opacity:1; transform:translateY(0);}
}
