body{
  background:linear-gradient(135deg,#0f172a,#1e3a8a,#14b8a6);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
  color:white;
  font-family:Segoe UI,sans-serif;
}

.card{
  width:95%;
  max-width:420px;
  background:rgba(255,255,255,.1);
  padding:25px;
  border-radius:20px;
  text-align:center;
  margin-bottom:20px;
}

input,select{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  margin:8px 0;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#22c55e,#0ea5e9);
  color:white;
  font-weight:600;
  cursor:pointer;
}

.hidden{display:none;}

.quizCard{max-width:900px;}

.opsi{
  background:#fff;
  color:#000;
  padding:10px;
  border-radius:10px;
  margin:6px 0;
  cursor:pointer;
}

.selected{background:#14b8a6;color:white;}

.topInfo{
  max-width:900px;
  width:95%;
  display:flex;
  gap:8px;
  align-items:center;
}

.progressWrap{
  flex:1;
  height:8px;
  background:#334155;
  border-radius:10px;
}

#progressBar{
  height:100%;
  width:0;
  background:#22c55e;
  border-radius:10px;
}

.finishBtn{
  background:linear-gradient(135deg,#22c55e,#16a34a);
}
