*{
box-sizing:border-box;
font-family:Segoe UI,Roboto,sans-serif;
}

body{
margin:0;
min-height:100vh;

background:linear-gradient(135deg,#0f172a,#1e3a8a,#14b8a6);

display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;

padding:20px 0 60px;
color:white;
}

/* CARD */

.card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(12px);

padding:25px;
width:95%;
max-width:420px;

border-radius:18px;
box-shadow:0 20px 40px rgba(0,0,0,.35);

text-align:center;
}

/* LOGO */

.logo{
width:110px;
margin-bottom:10px;
}

/* INPUT */

input{
width:100%;
padding:12px;
margin:8px 0;

border:none;
border-radius:10px;

background:#e2e8f0; /* putih lembut */
color:#111;
}

/* BUTTON */

button{
width:100%;
padding:12px;
margin-top:12px;

border:none;
border-radius:12px;

font-weight:600;
cursor:pointer;

background:linear-gradient(135deg,#14b8a6,#0ea5e9);
color:white;

transition:.2s;
}

button:hover{
transform:translateY(-2px);
}

/* MODE BUTTON */

.mode
