body{
font-family:Arial;
background:#0b2545;
margin:0;
padding:10px;
color:#fff;
}

.card{
background:#134074;
padding:20px;
border-radius:12px;
max-width:500px;
margin:auto;
box-shadow:0 0 12px rgba(0,0,0,0.3);
}

.hidden{display:none;}

.logo{
width:130px;
display:block;
margin:10px auto;
}

h2,h3{ text-align:center; }

input{
width:100%;
padding:14px;
margin:8px 0;
border:none;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:8px;
background:#1dd3b0;
color:#002b36;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

button:hover{opacity:0.9;}

.opsi{
padding:12px;
margin:6px 0;
background:#1b4965;
border-radius:8px;
cursor:pointer;
}

.opsi.selected{
background:#1dd3b0;
color:#002b36;
}

.header{
text-align:center;
font-weight:bold;
margin:10px;
font-size:18px;
}

.nav{
display:flex;
gap:10px;
}

.finishBtn{
background:#ffb703;
color:black;
margin-top:15px;
}

@media(max-width:600px){
.card{padding:15px;}
}
